[Desktop Entry]
Name=tfla-01
Comment=Simple logic analyzer
Comment[pl]=Prosty analizator stanów logicznych
Icon=tfla-01_32
Exec=tfla-01
Terminal=false
Type=Application
Categories=Utility;Electronics;
# vi: encoding=utf-8
