[Desktop Entry]
Name=tfla-01
Comment=
Comment[pl]=
Icon=tfla-01_32.png
Exec=tfla-01
Terminal=false
Type=Application
Categories=Utility;Electronics;
Encoding=UTF-8
# vi: encoding=utf-8

